.charactersBtn {
  color: rgb(255, 152, 0);
  padding-top: 7px;
  font-size: 25px;
}

.disabled {
  color: rgb(60, 62, 68);
  border-color: rgb(60, 62, 68);
}

.disabled:hover {
  cursor: auto;
  color: rgb(60, 62, 68);
  border-color: rgb(60, 62, 68);
  background: transparent;
}