header {
  background: white;
}

.btnsWrapper {
  padding: 15px 10px;
  background: white;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtersBtn {
  display: block;
  margin: 0;
}

.form {
  margin-top: -320px;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  color: black;
  transition: 0.3s;
  max-width: 100%;
}

.showFilters {
  margin-top: 0;
}

.categoryTitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.filtersWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.radiosWrapper {
  display: flex;
  flex-direction: column;
}

.resetBtn {
  margin-top: 20px;
  background: #af0000a1;
  border-color: #af0000a1;
}

.resetBtn:hover {
  background: #af0000de;
  border-color: #af0000de;
  color: white;
}

@media (max-width: 600px) {
  .form {
    margin-top: -200%;
  }

  .showFilters {
    margin-top: 0;
  }

  .filtersWrapper {
    display: block;
    width: max-content;
    margin: 0 auto 50px;
  }

  .categoryTitle {
    margin-top: 30px;
  }
}
