.section {
  padding: 50px 0;
}

.loader {
  display: none;
  width: max-content;
  margin: 0 auto;
}

.showLoader {
  display: block;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.btns {
  width: 230px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charactersBtn {
  color: rgb(255, 152, 0);
  padding-top: 7px;
  font-size: 25px;
}

.disabled {
  color: rgb(60, 62, 68);
  border-color: rgb(60, 62, 68);
}

.disabled:hover {
  cursor: auto;
  color: rgb(60, 62, 68);
  border-color: rgb(60, 62, 68);
  background: transparent;
}